@media only screen and (max-width: 600px){
/* #a1{
position: relative;
right: 100px;


} */
#b2{
margin-left: 30px;



}



#back{
    height: 700px;

}
#b1{
font-size: 45px;

position: relative;
bottom: 100px;

}
.btn{
position: relative;
bottom: 40px;
font-size: 20px;

}
#s1{
display: none;


}


#s2{
position: relative;
top: 80px;


}

#c1{
font-size: 20px;

}
#d1{
margin-top: 10px;
position: relative;
top: 70px;
}
#c2{
font-size: 18px;
position: relative;
right: 05px;

}
#c3{
margin-top: 40px;
position: relative;
right: 05px;

}


#e1{
height: 200px;
width: 400px;
position: relative;
right: 05px;

}


#e2{
    height: 200px;
    width: 400px;
    padding-top: 50px; 
    position: relative;
    right: 05px;
        
    
    }
    
    #e3{
        height: 200px;
        width: 400px;
        padding-top: 0px; 
        position: relative;
        right: 05px;
       


    }

#click{
position: relative;
top: 10px;
}
#con-mob{
position: relative;
bottom: 45px;


}

#A1-A{
padding-left: 30px;

}







    
}